body {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	background: #3498db;
	color: #fff
}
a {
	display: inline-block;
	margin:30px 0 30px 50px;
	color: #fff;
	font-size: 2rem;
	text-decoration: none;
}
form label {
	display: block;
}
form input[type="text"]{
	/* border: 1px solid #aaa; */
	border: none;
	background: #eee;
	margin: 0 0 15px 0;
	padding:6px 10px;
	font-size: 2rem;
}
form div.btn{
	border: solid 1px #ccc;
	display: inline-block;
	padding: 3px 10px;
	cursor: pointer;
}
form div.btn:hover {
	border: 1px solid #33cc77;
}